:root {
    --main-color: rgb(39, 130, 209);
    --first-color: hsla(208, 80%, 5%, 0.8);
    --second-color: hsla(208, 100%, 50%, 0.1);
    --third-color: hsla(208, 80%, 25%, 0.3);
    --fourth-color: hsla(0, 10%, 0%, 0.8);
    --fifth-color: hsla(208, 100%, 30%, 0.6);
}

::selection {
    background-color: var(--first-color);
    color: rgb(0, 141, 235);
}

body {
    color: white;
    background-color: var(--first-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(320deg, var(--first-color), var(--second-color)), url("../resources/image2.jpg") repeat-y center center / cover;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
}

abbr {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 90%;
}

.gameranger {
    text-decoration: none;
    color: rgb(84, 84, 252);
    font-family: Arial,Helvetica,sans-serif;
}

ul {
    background-color: var(--main-color);
    margin: 0;
    box-shadow: 0 2px 3px black;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
}

li {
    display: inline-block;
    padding: 5px 5% 5px 5%;
}

main {
    display: grid;
    justify-content: center;
    margin: 45px 0 20px 0;
    text-shadow: 0 2px 5px black;
    font-size: 40px;
}

.aboutUs {
    background-color: var(--main-color);
    background: linear-gradient(to right, var(--fifth-color), var(--fourth-color)),  url("../resources/image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
}

.termsAndAdvantages {
    background: linear-gradient(to right, var(--fourth-color), var(--third-color)), url("../resources/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 40px 0 40px;
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
}

.box {
    margin: 5px 0;
    padding: 0 0 10px 0;
    background-color: rgb(13, 45, 73);
    box-shadow: 0 3px 3px rgb(0, 0, 0);
}

.maps {
    background-color: var(--first-color);
}

h3 {
    padding: 2%;
    text-transform: uppercase;
}

p {
    padding: 0 5%;
    font-size: 19px;
}

/*                            maps.html                              */

.container {
    width: 200px;
    margin: 10px 10px;
    perspective: 500px;
}

.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    transition: 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.square:hover {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

.maps > .container > .square > div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.back {
    background-color: black;
}

.author {
    font-size: small;
    text-transform: lowercase;
}

.download {
    margin: 5px 10px;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}